{
  "$schema": "https://zed.dev/schema/themes/v0.2.0.json",
  "name": "GG",
  "author": "Gjermund Garaba",
  "themes": [
    {
      "name": "GG Dark",
      "appearance": "dark",
      "style": {
        "border": "{{.Dark.Overlay}}ff",
        "border.variant": "{{.Dark.Overlay}}66",
        "border.focused": "{{.Dark.Accent}}ff",
        "border.selected": "{{.Dark.SelectionBG}}ff",
        "border.transparent": "{{.Dark.BG}}00",
        "border.disabled": "{{.Dark.Overlay}}55",
        "elevated_surface.background": "{{.Dark.Surface}}ff",
        "surface.background": "{{.Dark.Surface}}ff",
        "background": "{{.Dark.BG}}ff",
        "element.background": "{{.Dark.Surface}}ff",
        "element.hover": "{{.Dark.Overlay}}33",
        "element.active": "{{.Dark.Overlay}}55",
        "element.selected": "{{.Dark.SelectionBG}}ff",
        "element.disabled": "{{.Dark.Surface}}88",
        "drop_target.background": "{{.Dark.Accent}}66",
        "ghost_element.background": "{{.Dark.BG}}00",
        "ghost_element.hover": "{{.Dark.Overlay}}22",
        "ghost_element.active": "{{.Dark.Overlay}}44",
        "ghost_element.selected": "{{.Dark.SelectionBG}}cc",
        "ghost_element.disabled": "{{.Dark.Surface}}88",
        "text": "{{.Dark.FG}}ff",
        "text.muted": "{{.Dark.FGDim}}ff",
        "text.placeholder": "{{.Dark.Overlay}}ff",
        "text.disabled": "{{.Dark.Overlay}}cc",
        "text.accent": "{{.Dark.Accent}}ff",
        "icon": "{{.Dark.FG}}ff",
        "icon.muted": "{{.Dark.FGDim}}ff",
        "icon.disabled": "{{.Dark.Overlay}}cc",
        "icon.placeholder": "{{.Dark.Overlay}}ff",
        "icon.accent": "{{.Dark.Accent}}ff",
        "status_bar.background": "{{.Dark.Surface}}ff",
        "title_bar.background": "{{.Dark.Surface}}ff",
        "title_bar.inactive_background": "{{.Dark.BG}}ff",
        "toolbar.background": "{{.Dark.BG}}ff",
        "tab_bar.background": "{{.Dark.Surface}}ff",
        "tab.inactive_background": "{{.Dark.Surface}}ff",
        "tab.active_background": "{{.Dark.BG}}ff",
        "search.match_background": "{{.Dark.SearchBG}}cc",
        "search.active_match_background": "{{.Dark.Orange}}55",
        "panel.background": "{{.Dark.Surface}}ff",
        "panel.focused_border": "{{.Dark.Accent}}ff",
        "pane.focused_border": "{{.Dark.Accent}}ff",
        "scrollbar.thumb.background": "{{.Dark.Overlay}}66",
        "scrollbar.thumb.hover_background": "{{.Dark.Overlay}}99",
        "scrollbar.thumb.border": "{{.Dark.Surface}}ff",
        "scrollbar.track.background": "{{.Dark.BG}}00",
        "scrollbar.track.border": "{{.Dark.Overlay}}33",
        "editor.foreground": "{{.Dark.FG}}ff",
        "editor.background": "{{.Dark.BG}}ff",
        "editor.gutter.background": "{{.Dark.BG}}ff",
        "editor.subheader.background": "{{.Dark.Surface}}ff",
        "editor.active_line.background": "{{.Dark.Surface}}cc",
        "editor.highlighted_line.background": "{{.Dark.Surface}}ff",
        "editor.line_number": "{{.Dark.Overlay}}ff",
        "editor.active_line_number": "{{.Dark.FG}}ff",
        "editor.hover_line_number": "{{.Dark.FGDim}}ff",
        "editor.invisible": "{{.Dark.Overlay}}99",
        "editor.wrap_guide": "{{.Dark.Overlay}}33",
        "editor.active_wrap_guide": "{{.Dark.Overlay}}66",
        "editor.document_highlight.read_background": "{{.Dark.Blue}}22",
        "editor.document_highlight.write_background": "{{.Dark.Overlay}}44",
        "terminal.background": "{{.Dark.BG}}ff",
        "terminal.foreground": "{{.Dark.FG}}ff",
        "terminal.bright_foreground": "{{.Dark.BrightWhite}}ff",
        "terminal.dim_foreground": "{{.Dark.FGDim}}ff",
        "terminal.ansi.black": "{{.Dark.Black}}ff",
        "terminal.ansi.bright_black": "{{.Dark.BrightBlack}}ff",
        "terminal.ansi.dim_black": "{{.Dark.Black}}cc",
        "terminal.ansi.red": "{{.Dark.Red}}ff",
        "terminal.ansi.bright_red": "{{.Dark.BrightRed}}ff",
        "terminal.ansi.dim_red": "{{.Dark.Red}}cc",
        "terminal.ansi.green": "{{.Dark.Green}}ff",
        "terminal.ansi.bright_green": "{{.Dark.BrightGreen}}ff",
        "terminal.ansi.dim_green": "{{.Dark.Green}}cc",
        "terminal.ansi.yellow": "{{.Dark.Yellow}}ff",
        "terminal.ansi.bright_yellow": "{{.Dark.BrightYellow}}ff",
        "terminal.ansi.dim_yellow": "{{.Dark.Yellow}}cc",
        "terminal.ansi.blue": "{{.Dark.Blue}}ff",
        "terminal.ansi.bright_blue": "{{.Dark.BrightBlue}}ff",
        "terminal.ansi.dim_blue": "{{.Dark.Blue}}cc",
        "terminal.ansi.magenta": "{{.Dark.Magenta}}ff",
        "terminal.ansi.bright_magenta": "{{.Dark.BrightMagenta}}ff",
        "terminal.ansi.dim_magenta": "{{.Dark.Magenta}}cc",
        "terminal.ansi.cyan": "{{.Dark.Cyan}}ff",
        "terminal.ansi.bright_cyan": "{{.Dark.BrightCyan}}ff",
        "terminal.ansi.dim_cyan": "{{.Dark.Cyan}}cc",
        "terminal.ansi.white": "{{.Dark.White}}ff",
        "terminal.ansi.bright_white": "{{.Dark.BrightWhite}}ff",
        "terminal.ansi.dim_white": "{{.Dark.White}}cc",
        "link_text.hover": "{{.Dark.Cyan}}ff",
        "version_control.added": "{{.Dark.Green}}ff",
        "version_control.modified": "{{.Dark.Yellow}}ff",
        "version_control.word_added": "{{.Dark.Green}}44",
        "version_control.word_deleted": "{{.Dark.Red}}44",
        "version_control.deleted": "{{.Dark.Red}}ff",
        "version_control.conflict_marker.ours": "{{.Dark.Green}}22",
        "version_control.conflict_marker.theirs": "{{.Dark.Blue}}22",
        "conflict": "{{.Dark.Orange}}ff",
        "conflict.background": "{{.Dark.Orange}}22",
        "conflict.border": "{{.Dark.Orange}}66",
        "created": "{{.Dark.Green}}ff",
        "created.background": "{{.Dark.Green}}22",
        "created.border": "{{.Dark.Green}}66",
        "deleted": "{{.Dark.Red}}ff",
        "deleted.background": "{{.Dark.Red}}22",
        "deleted.border": "{{.Dark.Red}}66",
        "error": "{{.Dark.Red}}ff",
        "error.background": "{{.Dark.Red}}22",
        "error.border": "{{.Dark.Red}}66",
        "hidden": "{{.Dark.Overlay}}ff",
        "hidden.background": "{{.Dark.Overlay}}22",
        "hidden.border": "{{.Dark.Overlay}}66",
        "hint": "{{.Dark.Cyan}}ff",
        "hint.background": "{{.Dark.Cyan}}22",
        "hint.border": "{{.Dark.Cyan}}66",
        "ignored": "{{.Dark.Overlay}}ff",
        "ignored.background": "{{.Dark.Overlay}}22",
        "ignored.border": "{{.Dark.Overlay}}66",
        "info": "{{.Dark.Cyan}}ff",
        "info.background": "{{.Dark.Cyan}}22",
        "info.border": "{{.Dark.Cyan}}66",
        "modified": "{{.Dark.Yellow}}ff",
        "modified.background": "{{.Dark.Yellow}}22",
        "modified.border": "{{.Dark.Yellow}}66",
        "predictive": "{{.Dark.FGDim}}ff",
        "predictive.background": "{{.Dark.Overlay}}22",
        "predictive.border": "{{.Dark.Overlay}}66",
        "renamed": "{{.Dark.Blue}}ff",
        "renamed.background": "{{.Dark.Blue}}22",
        "renamed.border": "{{.Dark.Blue}}66",
        "success": "{{.Dark.Green}}ff",
        "success.background": "{{.Dark.Green}}22",
        "success.border": "{{.Dark.Green}}66",
        "unreachable": "{{.Dark.FGDim}}ff",
        "unreachable.background": "{{.Dark.Overlay}}22",
        "unreachable.border": "{{.Dark.Overlay}}66",
        "warning": "{{.Dark.Orange}}ff",
        "warning.background": "{{.Dark.Orange}}22",
        "warning.border": "{{.Dark.Orange}}66",
        "players": [
          { "cursor": "{{.Dark.Accent}}ff", "background": "{{.Dark.Accent}}ff", "selection": "{{.Dark.Accent}}3d" },
          { "cursor": "{{.Dark.Blue}}ff", "background": "{{.Dark.Blue}}ff", "selection": "{{.Dark.Blue}}3d" },
          { "cursor": "{{.Dark.Red}}ff", "background": "{{.Dark.Red}}ff", "selection": "{{.Dark.Red}}3d" },
          { "cursor": "{{.Dark.Green}}ff", "background": "{{.Dark.Green}}ff", "selection": "{{.Dark.Green}}3d" },
          { "cursor": "{{.Dark.Magenta}}ff", "background": "{{.Dark.Magenta}}ff", "selection": "{{.Dark.Magenta}}3d" },
          { "cursor": "{{.Dark.Cyan}}ff", "background": "{{.Dark.Cyan}}ff", "selection": "{{.Dark.Cyan}}3d" }
        ],
        "syntax": {
          "attribute": { "color": "{{.Dark.Cyan}}ff" },
          "boolean": { "color": "{{.Dark.SyntaxNumber}}ff" },
          "comment": { "color": "{{.Dark.SyntaxComment}}ff", "font_style": "italic" },
          "comment.doc": { "color": "{{.Dark.FGDim}}ff", "font_style": "italic" },
          "constant": { "color": "{{.Dark.SyntaxConstant}}ff" },
          "constructor": { "color": "{{.Dark.SyntaxFunction}}ff" },
          "embedded": { "color": "{{.Dark.FG}}ff" },
          "emphasis": { "font_style": "italic" },
          "emphasis.strong": { "font_weight": 700 },
          "enum": { "color": "{{.Dark.SyntaxBuiltin}}ff" },
          "function": { "color": "{{.Dark.SyntaxFunction}}ff" },
          "function.special": { "color": "{{.Dark.SyntaxBuiltin}}ff" },
          "hint": { "color": "{{.Dark.Cyan}}ff" },
          "keyword": { "color": "{{.Dark.SyntaxKeyword}}ff" },
          "label": { "color": "{{.Dark.SyntaxConstant}}ff" },
          "link_text": { "color": "{{.Dark.SyntaxLink}}ff" },
          "link_uri": { "color": "{{.Dark.SyntaxLink}}ff" },
          "number": { "color": "{{.Dark.SyntaxNumber}}ff" },
          "operator": { "color": "{{.Dark.SyntaxKeyword}}ff" },
          "predictive": { "color": "{{.Dark.FGDim}}aa" },
          "preproc": { "color": "{{.Dark.Magenta}}ff" },
          "primary": { "color": "{{.Dark.FG}}ff" },
          "property": { "color": "{{.Dark.FG}}ff" },
          "punctuation": { "color": "{{.Dark.FG}}ff" },
          "punctuation.bracket": { "color": "{{.Dark.FG}}ff" },
          "string": { "color": "{{.Dark.SyntaxString}}ff" },
          "string.escape": { "color": "{{.Dark.Magenta}}ff" },
          "string.regex": { "color": "{{.Dark.SyntaxError}}ff" },
          "tag": { "color": "{{.Dark.SyntaxKeyword}}ff" },
          "text.literal": { "color": "{{.Dark.SyntaxString}}ff" },
          "title": { "color": "{{.Dark.Blue}}ff", "font_weight": 700 },
          "type": { "color": "{{.Dark.SyntaxBuiltin}}ff" },
          "variable": { "color": "{{.Dark.FG}}ff" },
          "variable.special": { "color": "{{.Dark.SyntaxNumber}}ff", "font_style": "italic" }
        }
      }
    },
    {
      "name": "GG Light",
      "appearance": "light",
      "style": {
        "border": "{{.Light.Overlay}}ff",
        "border.variant": "{{.Light.Overlay}}66",
        "border.focused": "{{.Light.Accent}}ff",
        "border.selected": "{{.Light.SelectionBG}}ff",
        "border.transparent": "{{.Light.BG}}00",
        "border.disabled": "{{.Light.Overlay}}55",
        "elevated_surface.background": "{{.Light.Surface}}ff",
        "surface.background": "{{.Light.Surface}}ff",
        "background": "{{.Light.BG}}ff",
        "element.background": "{{.Light.Surface}}ff",
        "element.hover": "{{.Light.Overlay}}33",
        "element.active": "{{.Light.Overlay}}55",
        "element.selected": "{{.Light.SelectionBG}}ff",
        "element.disabled": "{{.Light.Surface}}88",
        "drop_target.background": "{{.Light.Accent}}66",
        "ghost_element.background": "{{.Light.BG}}00",
        "ghost_element.hover": "{{.Light.Overlay}}22",
        "ghost_element.active": "{{.Light.Overlay}}44",
        "ghost_element.selected": "{{.Light.SelectionBG}}cc",
        "ghost_element.disabled": "{{.Light.Surface}}88",
        "text": "{{.Light.FG}}ff",
        "text.muted": "{{.Light.FGDim}}ff",
        "text.placeholder": "{{.Light.Overlay}}ff",
        "text.disabled": "{{.Light.Overlay}}cc",
        "text.accent": "{{.Light.Accent}}ff",
        "icon": "{{.Light.FG}}ff",
        "icon.muted": "{{.Light.FGDim}}ff",
        "icon.disabled": "{{.Light.Overlay}}cc",
        "icon.placeholder": "{{.Light.Overlay}}ff",
        "icon.accent": "{{.Light.Accent}}ff",
        "status_bar.background": "{{.Light.Surface}}ff",
        "title_bar.background": "{{.Light.Surface}}ff",
        "title_bar.inactive_background": "{{.Light.BG}}ff",
        "toolbar.background": "{{.Light.BG}}ff",
        "tab_bar.background": "{{.Light.Surface}}ff",
        "tab.inactive_background": "{{.Light.Surface}}ff",
        "tab.active_background": "{{.Light.BG}}ff",
        "search.match_background": "{{.Light.SearchBG}}cc",
        "search.active_match_background": "{{.Light.Orange}}55",
        "panel.background": "{{.Light.Surface}}ff",
        "panel.focused_border": "{{.Light.Accent}}ff",
        "pane.focused_border": "{{.Light.Accent}}ff",
        "scrollbar.thumb.background": "{{.Light.Overlay}}66",
        "scrollbar.thumb.hover_background": "{{.Light.Overlay}}99",
        "scrollbar.thumb.border": "{{.Light.Surface}}ff",
        "scrollbar.track.background": "{{.Light.BG}}00",
        "scrollbar.track.border": "{{.Light.Overlay}}33",
        "editor.foreground": "{{.Light.FG}}ff",
        "editor.background": "{{.Light.BG}}ff",
        "editor.gutter.background": "{{.Light.BG}}ff",
        "editor.subheader.background": "{{.Light.Surface}}ff",
        "editor.active_line.background": "{{.Light.Surface}}cc",
        "editor.highlighted_line.background": "{{.Light.Surface}}ff",
        "editor.line_number": "{{.Light.Overlay}}ff",
        "editor.active_line_number": "{{.Light.FG}}ff",
        "editor.hover_line_number": "{{.Light.FGDim}}ff",
        "editor.invisible": "{{.Light.Overlay}}99",
        "editor.wrap_guide": "{{.Light.Overlay}}33",
        "editor.active_wrap_guide": "{{.Light.Overlay}}66",
        "editor.document_highlight.read_background": "{{.Light.Blue}}22",
        "editor.document_highlight.write_background": "{{.Light.Overlay}}44",
        "terminal.background": "{{.Light.BG}}ff",
        "terminal.foreground": "{{.Light.FG}}ff",
        "terminal.bright_foreground": "{{.Light.BrightWhite}}ff",
        "terminal.dim_foreground": "{{.Light.FGDim}}ff",
        "terminal.ansi.black": "{{.Light.Black}}ff",
        "terminal.ansi.bright_black": "{{.Light.BrightBlack}}ff",
        "terminal.ansi.dim_black": "{{.Light.Black}}cc",
        "terminal.ansi.red": "{{.Light.Red}}ff",
        "terminal.ansi.bright_red": "{{.Light.BrightRed}}ff",
        "terminal.ansi.dim_red": "{{.Light.Red}}cc",
        "terminal.ansi.green": "{{.Light.Green}}ff",
        "terminal.ansi.bright_green": "{{.Light.BrightGreen}}ff",
        "terminal.ansi.dim_green": "{{.Light.Green}}cc",
        "terminal.ansi.yellow": "{{.Light.Yellow}}ff",
        "terminal.ansi.bright_yellow": "{{.Light.BrightYellow}}ff",
        "terminal.ansi.dim_yellow": "{{.Light.Yellow}}cc",
        "terminal.ansi.blue": "{{.Light.Blue}}ff",
        "terminal.ansi.bright_blue": "{{.Light.BrightBlue}}ff",
        "terminal.ansi.dim_blue": "{{.Light.Blue}}cc",
        "terminal.ansi.magenta": "{{.Light.Magenta}}ff",
        "terminal.ansi.bright_magenta": "{{.Light.BrightMagenta}}ff",
        "terminal.ansi.dim_magenta": "{{.Light.Magenta}}cc",
        "terminal.ansi.cyan": "{{.Light.Cyan}}ff",
        "terminal.ansi.bright_cyan": "{{.Light.BrightCyan}}ff",
        "terminal.ansi.dim_cyan": "{{.Light.Cyan}}cc",
        "terminal.ansi.white": "{{.Light.White}}ff",
        "terminal.ansi.bright_white": "{{.Light.BrightWhite}}ff",
        "terminal.ansi.dim_white": "{{.Light.White}}cc",
        "link_text.hover": "{{.Light.Cyan}}ff",
        "version_control.added": "{{.Light.Green}}ff",
        "version_control.modified": "{{.Light.Yellow}}ff",
        "version_control.word_added": "{{.Light.Green}}44",
        "version_control.word_deleted": "{{.Light.Red}}44",
        "version_control.deleted": "{{.Light.Red}}ff",
        "version_control.conflict_marker.ours": "{{.Light.Green}}22",
        "version_control.conflict_marker.theirs": "{{.Light.Blue}}22",
        "conflict": "{{.Light.Orange}}ff",
        "conflict.background": "{{.Light.Orange}}22",
        "conflict.border": "{{.Light.Orange}}66",
        "created": "{{.Light.Green}}ff",
        "created.background": "{{.Light.Green}}22",
        "created.border": "{{.Light.Green}}66",
        "deleted": "{{.Light.Red}}ff",
        "deleted.background": "{{.Light.Red}}22",
        "deleted.border": "{{.Light.Red}}66",
        "error": "{{.Light.Red}}ff",
        "error.background": "{{.Light.Red}}22",
        "error.border": "{{.Light.Red}}66",
        "hidden": "{{.Light.Overlay}}ff",
        "hidden.background": "{{.Light.Overlay}}22",
        "hidden.border": "{{.Light.Overlay}}66",
        "hint": "{{.Light.Cyan}}ff",
        "hint.background": "{{.Light.Cyan}}22",
        "hint.border": "{{.Light.Cyan}}66",
        "ignored": "{{.Light.Overlay}}ff",
        "ignored.background": "{{.Light.Overlay}}22",
        "ignored.border": "{{.Light.Overlay}}66",
        "info": "{{.Light.Cyan}}ff",
        "info.background": "{{.Light.Cyan}}22",
        "info.border": "{{.Light.Cyan}}66",
        "modified": "{{.Light.Yellow}}ff",
        "modified.background": "{{.Light.Yellow}}22",
        "modified.border": "{{.Light.Yellow}}66",
        "predictive": "{{.Light.FGDim}}ff",
        "predictive.background": "{{.Light.Overlay}}22",
        "predictive.border": "{{.Light.Overlay}}66",
        "renamed": "{{.Light.Blue}}ff",
        "renamed.background": "{{.Light.Blue}}22",
        "renamed.border": "{{.Light.Blue}}66",
        "success": "{{.Light.Green}}ff",
        "success.background": "{{.Light.Green}}22",
        "success.border": "{{.Light.Green}}66",
        "unreachable": "{{.Light.FGDim}}ff",
        "unreachable.background": "{{.Light.Overlay}}22",
        "unreachable.border": "{{.Light.Overlay}}66",
        "warning": "{{.Light.Orange}}ff",
        "warning.background": "{{.Light.Orange}}22",
        "warning.border": "{{.Light.Orange}}66",
        "players": [
          { "cursor": "{{.Light.Accent}}ff", "background": "{{.Light.Accent}}ff", "selection": "{{.Light.Accent}}3d" },
          { "cursor": "{{.Light.Blue}}ff", "background": "{{.Light.Blue}}ff", "selection": "{{.Light.Blue}}3d" },
          { "cursor": "{{.Light.Red}}ff", "background": "{{.Light.Red}}ff", "selection": "{{.Light.Red}}3d" },
          { "cursor": "{{.Light.Green}}ff", "background": "{{.Light.Green}}ff", "selection": "{{.Light.Green}}3d" },
          { "cursor": "{{.Light.Magenta}}ff", "background": "{{.Light.Magenta}}ff", "selection": "{{.Light.Magenta}}3d" },
          { "cursor": "{{.Light.Cyan}}ff", "background": "{{.Light.Cyan}}ff", "selection": "{{.Light.Cyan}}3d" }
        ],
        "syntax": {
          "attribute": { "color": "{{.Light.Cyan}}ff" },
          "boolean": { "color": "{{.Light.SyntaxNumber}}ff" },
          "comment": { "color": "{{.Light.SyntaxComment}}ff", "font_style": "italic" },
          "comment.doc": { "color": "{{.Light.FGDim}}ff", "font_style": "italic" },
          "constant": { "color": "{{.Light.SyntaxConstant}}ff" },
          "constructor": { "color": "{{.Light.SyntaxFunction}}ff" },
          "embedded": { "color": "{{.Light.FG}}ff" },
          "emphasis": { "font_style": "italic" },
          "emphasis.strong": { "font_weight": 700 },
          "enum": { "color": "{{.Light.SyntaxBuiltin}}ff" },
          "function": { "color": "{{.Light.SyntaxFunction}}ff" },
          "function.special": { "color": "{{.Light.SyntaxBuiltin}}ff" },
          "hint": { "color": "{{.Light.Cyan}}ff" },
          "keyword": { "color": "{{.Light.SyntaxKeyword}}ff" },
          "label": { "color": "{{.Light.SyntaxConstant}}ff" },
          "link_text": { "color": "{{.Light.SyntaxLink}}ff" },
          "link_uri": { "color": "{{.Light.SyntaxLink}}ff" },
          "number": { "color": "{{.Light.SyntaxNumber}}ff" },
          "operator": { "color": "{{.Light.SyntaxKeyword}}ff" },
          "predictive": { "color": "{{.Light.FGDim}}aa" },
          "preproc": { "color": "{{.Light.Magenta}}ff" },
          "primary": { "color": "{{.Light.FG}}ff" },
          "property": { "color": "{{.Light.FG}}ff" },
          "punctuation": { "color": "{{.Light.FG}}ff" },
          "punctuation.bracket": { "color": "{{.Light.FG}}ff" },
          "string": { "color": "{{.Light.SyntaxString}}ff" },
          "string.escape": { "color": "{{.Light.Magenta}}ff" },
          "string.regex": { "color": "{{.Light.SyntaxError}}ff" },
          "tag": { "color": "{{.Light.SyntaxKeyword}}ff" },
          "text.literal": { "color": "{{.Light.SyntaxString}}ff" },
          "title": { "color": "{{.Light.Blue}}ff", "font_weight": 700 },
          "type": { "color": "{{.Light.SyntaxBuiltin}}ff" },
          "variable": { "color": "{{.Light.FG}}ff" },
          "variable.special": { "color": "{{.Light.SyntaxNumber}}ff", "font_style": "italic" }
        }
      }
    }
  ]
}
