# name: {{.Name}}
fish_color_normal {{hex .FG}}
fish_color_command {{hex .Cyan}}
fish_color_keyword {{hex .Magenta}}
fish_color_quote {{hex .Yellow}}
fish_color_redirection {{hex .Blue}}
fish_color_end {{hex .Orange}}
fish_color_error {{hex .Red}}
fish_color_param {{hex .FG}}
fish_color_option {{hex .BrightBlue}}
fish_color_comment {{hex .Overlay}}
fish_color_operator {{hex .Magenta}}
fish_color_escape {{hex .Green}}
fish_color_autosuggestion {{hex .FGDim}}
fish_color_cancel -r
fish_color_search_match --background={{hex .SelectionBG}} --bold
fish_color_selection --background={{hex .SelectionBG}} --bold
fish_color_history_current --bold
fish_color_cwd {{hex .Cyan}}
fish_color_cwd_root {{hex .Red}}
fish_color_valid_path --underline
fish_color_user {{hex .Green}}
fish_color_host --reset
fish_color_host_remote {{hex .Yellow}}
fish_color_status {{hex .Red}}
fish_pager_color_completion --reset
fish_pager_color_description {{hex .Overlay}}
fish_pager_color_prefix --bold --underline
fish_pager_color_progress {{hex .BrightWhite}} --background={{hex .Cyan}} --bold
fish_pager_color_selected_background --background={{hex .SelectionBG}}
