palette = 0={{.Black}}
palette = 1={{.Red}}
palette = 2={{.Green}}
palette = 3={{.Yellow}}
palette = 4={{.Blue}}
palette = 5={{.Magenta}}
palette = 6={{.Cyan}}
palette = 7={{.White}}
palette = 8={{.BrightBlack}}
palette = 9={{.BrightRed}}
palette = 10={{.BrightGreen}}
palette = 11={{.BrightYellow}}
palette = 12={{.BrightBlue}}
palette = 13={{.BrightMagenta}}
palette = 14={{.BrightCyan}}
palette = 15={{.BrightWhite}}
background = {{.BG}}
foreground = {{.FG}}
cursor-color = {{.Cursor}}
cursor-text = {{.CursorText}}
selection-foreground = {{.SelectionFG}}
selection-background = {{.SelectionBG}}
