vim.cmd.highlight('clear')
vim.g.colors_name = '{{.Name}}'
vim.o.background = '{{if eq .Name "gg-dark"}}dark{{else}}light{{end}}'

local hi = function(name, val) vim.api.nvim_set_hl(0, name, val) end
local link = function(from, to) vim.api.nvim_set_hl(0, from, { link = to }) end

-- Editor UI
hi('Normal',         { fg = '{{.FG}}', bg = '{{.BG}}' })
hi('NormalFloat',    { fg = '{{.FG}}', bg = '{{.Surface}}', blend = 10 })
hi('NormalNC',       { fg = '{{.FG}}', bg = '{{.BG}}' })
hi('FloatBorder',    { fg = '{{.Overlay}}', bg = '{{.Surface}}', blend = 10 })
hi('FloatTitle',     { fg = '{{.FG}}', bg = '{{.Surface}}', bold = true, blend = 10 })
hi('ColorColumn',    { bg = '{{.Surface}}' })
hi('Conceal',        { fg = '{{.Overlay}}' })
hi('Cursor',         { fg = '{{.CursorText}}', bg = '{{.Cursor}}' })
hi('lCursor',        { fg = '{{.CursorText}}', bg = '{{.Cursor}}' })
hi('CursorIM',       { fg = '{{.CursorText}}', bg = '{{.Cursor}}' })
hi('CursorColumn',   { bg = '{{.Surface}}' })
hi('CursorLine',     { bg = '{{.Surface}}' })
hi('CursorLineFold', { bg = '{{.Surface}}' })
hi('CursorLineNr',   { fg = '{{.FG}}', bg = '{{.Surface}}', bold = true })
hi('CursorLineSign', { bg = '{{.Surface}}' })
hi('Directory',      { fg = '{{.Cyan}}' })
hi('EndOfBuffer',    { fg = '{{.BG}}' })
hi('ErrorMsg',       { fg = '{{.Red}}' })
hi('WinSeparator',   { fg = '{{.Overlay}}' })
hi('Folded',         { fg = '{{.FGDim}}', bg = '{{.Surface}}' })
hi('FoldColumn',     { fg = '{{.Overlay}}', bg = '{{.BG}}' })
hi('SignColumn',     { fg = '{{.Overlay}}', bg = '{{.BG}}' })
hi('IncSearch',      { fg = '{{.BG}}', bg = '{{.Orange}}' })
hi('Substitute',     { fg = '{{.BG}}', bg = '{{.Orange}}' })
hi('LineNr',         { fg = '{{.Overlay}}' })
hi('LineNrAbove',    { fg = '{{.Overlay}}' })
hi('LineNrBelow',    { fg = '{{.Overlay}}' })
hi('MatchParen',     { fg = '{{.FG}}', bg = '{{.Overlay}}', bold = true })
hi('ModeMsg',        { fg = '{{.FG}}', bold = true })
hi('MsgArea',        { fg = '{{.FG}}' })
hi('MsgSeparator',   { fg = '{{.Overlay}}' })
hi('MoreMsg',        { fg = '{{.Cyan}}' })
hi('NonText',        { fg = '{{.Overlay}}' })
hi('Pmenu',          { fg = '{{.FG}}', bg = '{{.Surface}}', blend = 8 })
hi('PmenuSel',       { fg = '{{.SelectionFG}}', bg = '{{.SelectionBG}}' })
hi('PmenuKind',      { fg = '{{.Cyan}}', bg = '{{.Surface}}', blend = 8 })
hi('PmenuKindSel',   { fg = '{{.Cyan}}', bg = '{{.SelectionBG}}' })
hi('PmenuExtra',     { fg = '{{.FGDim}}', bg = '{{.Surface}}', blend = 8 })
hi('PmenuExtraSel',  { fg = '{{.FGDim}}', bg = '{{.SelectionBG}}' })
hi('PmenuSbar',      { bg = '{{.Surface}}', blend = 8 })
hi('PmenuThumb',     { bg = '{{.Overlay}}' })
hi('Question',       { fg = '{{.Cyan}}' })
hi('QuickFixLine',   { bg = '{{.Surface}}', bold = true })
hi('Search',         { fg = '{{.FG}}', bg = '{{.SearchBG}}' })
hi('CurSearch',      { fg = '{{.BG}}', bg = '{{.Orange}}' })
hi('SpecialKey',     { fg = '{{.Overlay}}' })
hi('SpellBad',       { undercurl = true, sp = '{{.Red}}' })
hi('SpellCap',       { undercurl = true, sp = '{{.Orange}}' })
hi('SpellLocal',     { undercurl = true, sp = '{{.Cyan}}' })
hi('SpellRare',      { undercurl = true, sp = '{{.Blue}}' })
hi('StatusLine',     { fg = '{{.FG}}', bg = '{{.Surface}}' })
hi('StatusLineNC',   { fg = '{{.FGDim}}', bg = '{{.Surface}}' })
hi('TabLine',        { fg = '{{.FGDim}}', bg = '{{.Surface}}' })
hi('TabLineFill',    { bg = '{{.Surface}}' })
hi('TabLineSel',     { fg = '{{.FG}}', bg = '{{.BG}}', bold = true })
hi('Title',          { fg = '{{.Blue}}', bold = true })
hi('Visual',         { bg = '{{.VisualBG}}' })
hi('VisualNOS',      { bg = '{{.VisualBG}}' })
hi('WarningMsg',     { fg = '{{.Orange}}' })
hi('Whitespace',     { fg = '{{.Overlay}}' })
hi('WildMenu',       { fg = '{{.SelectionFG}}', bg = '{{.SelectionBG}}' })
hi('WinBar',         { fg = '{{.FG}}', bg = '{{.BG}}', bold = true })
hi('WinBarNC',       { fg = '{{.FGDim}}', bg = '{{.BG}}' })

-- Diff
hi('DiffAdd',    { bg = '{{.DiffAddBG}}' })
hi('DiffChange', { bg = '{{.DiffChangeBG}}' })
hi('DiffDelete', { bg = '{{.DiffDeleteBG}}' })
hi('DiffText',   { bg = '{{.DiffChangeBG}}', underline = true })
hi('Added',      { fg = '{{.Green}}' })
hi('Changed',    { fg = '{{.Orange}}' })
hi('Removed',    { fg = '{{.Red}}' })

-- Syntax
hi('Comment',        { fg = '{{.FGDim}}', italic = true })
hi('Constant',       { fg = '{{.Blue}}' })
hi('String',         { fg = '{{.Yellow}}' })
hi('Character',      { fg = '{{.Yellow}}' })
hi('Number',         { fg = '{{.Blue}}' })
hi('Boolean',        { fg = '{{.Blue}}' })
hi('Float',          { fg = '{{.Blue}}' })
hi('Identifier',     { fg = '{{.FG}}' })
hi('Function',       { fg = '{{.Green}}' })
hi('Statement',      { fg = '{{.Magenta}}' })
hi('Conditional',    { fg = '{{.Magenta}}' })
hi('Repeat',         { fg = '{{.Magenta}}' })
hi('Label',          { fg = '{{.Magenta}}' })
hi('Operator',       { fg = '{{.Magenta}}' })
hi('Keyword',        { fg = '{{.Magenta}}' })
hi('Exception',      { fg = '{{.Magenta}}' })
hi('PreProc',        { fg = '{{.Magenta}}' })
hi('Include',        { fg = '{{.Magenta}}' })
hi('Define',         { fg = '{{.Magenta}}' })
hi('Macro',          { fg = '{{.Magenta}}' })
hi('PreCondit',      { fg = '{{.Magenta}}' })
hi('Type',           { fg = '{{.Cyan}}', italic = true })
hi('StorageClass',   { fg = '{{.Magenta}}' })
hi('Structure',      { fg = '{{.Cyan}}' })
hi('Typedef',        { fg = '{{.Cyan}}' })
hi('Special',        { fg = '{{.Magenta}}' })
hi('SpecialChar',    { fg = '{{.Magenta}}' })
hi('Tag',            { fg = '{{.Magenta}}' })
hi('Delimiter',      { fg = '{{.FG}}' })
hi('SpecialComment', { fg = '{{.FGDim}}', bold = true })
hi('Debug',          { fg = '{{.Red}}' })
hi('Underlined',     { fg = '{{.Cyan}}', underline = true })
hi('Ignore',         {})
hi('Error',          { fg = '{{.Red}}' })
hi('Todo',           { fg = '{{.Cyan}}', bold = true })

-- Diagnostics
hi('DiagnosticError',            { fg = '{{.Red}}' })
hi('DiagnosticWarn',             { fg = '{{.Orange}}' })
hi('DiagnosticInfo',             { fg = '{{.Cyan}}' })
hi('DiagnosticHint',             { fg = '{{.Green}}' })
hi('DiagnosticOk',               { fg = '{{.Green}}' })
hi('DiagnosticUnderlineError',   { undercurl = true, sp = '{{.Red}}' })
hi('DiagnosticUnderlineWarn',    { undercurl = true, sp = '{{.Orange}}' })
hi('DiagnosticUnderlineInfo',    { undercurl = true, sp = '{{.Cyan}}' })
hi('DiagnosticUnderlineHint',    { undercurl = true, sp = '{{.Green}}' })
hi('DiagnosticUnderlineOk',      { undercurl = true, sp = '{{.Green}}' })
hi('DiagnosticVirtualTextError', { fg = '{{.Red}}' })
hi('DiagnosticVirtualTextWarn',  { fg = '{{.Orange}}' })
hi('DiagnosticVirtualTextInfo',  { fg = '{{.Cyan}}' })
hi('DiagnosticVirtualTextHint',  { fg = '{{.Green}}' })
hi('DiagnosticSignError',        { fg = '{{.Red}}' })
hi('DiagnosticSignWarn',         { fg = '{{.Orange}}' })
hi('DiagnosticSignInfo',         { fg = '{{.Cyan}}' })
hi('DiagnosticSignHint',         { fg = '{{.Green}}' })

-- LSP
hi('LspReferenceText',            { bg = '{{.Surface}}' })
hi('LspReferenceRead',            { bg = '{{.Surface}}' })
hi('LspReferenceWrite',           { bg = '{{.Surface}}', underline = true })
hi('LspSignatureActiveParameter', { fg = '{{.Orange}}', bold = true })
hi('LspInlayHint',                { fg = '{{.FGDim}}', bg = '{{.Surface}}' })
hi('LspCodeLens',                 { fg = '{{.Overlay}}' })
hi('LspCodeLensSeparator',        { fg = '{{.Overlay}}' })

-- Treesitter
link('@variable',              'Identifier')
link('@variable.builtin',      'Keyword')
hi('@variable.parameter',      { fg = '{{.Orange}}', italic = true })
link('@variable.member',       'Identifier')
link('@constant',              'Constant')
link('@constant.builtin',      'Constant')
link('@constant.macro',        'Macro')
link('@module',                'Structure')
link('@label',                 'Label')
link('@string',                'String')
link('@string.regexp',         'SpecialChar')
hi('@string.regexp',           { fg = '{{.Red}}' })
link('@string.escape',         'SpecialChar')
link('@string.special',        'Special')
link('@character',             'Character')
link('@character.special',     'SpecialChar')
link('@boolean',               'Boolean')
link('@number',                'Number')
link('@number.float',          'Float')
link('@type',                  'Type')
link('@type.builtin',          'Type')
link('@type.definition',       'Type')
link('@attribute',             'PreProc')
link('@property',              'Identifier')
link('@function',              'Function')
link('@function.builtin',      'Function')
hi('@function.builtin',        { fg = '{{.Cyan}}' })
link('@function.call',         'Function')
link('@function.macro',        'Macro')
link('@function.method',       'Function')
link('@function.method.call',  'Function')
link('@constructor',           'Special')
hi('@constructor',             { fg = '{{.Cyan}}' })
link('@operator',              'Operator')
link('@keyword',               'Keyword')
link('@keyword.conditional',   'Conditional')
link('@keyword.repeat',        'Repeat')
link('@keyword.return',        'Keyword')
link('@keyword.function',      'Keyword')
link('@keyword.operator',      'Operator')
link('@keyword.import',        'Include')
link('@keyword.exception',     'Exception')
link('@punctuation.bracket',   'Delimiter')
link('@punctuation.delimiter', 'Delimiter')
link('@punctuation.special',   'Special')
link('@comment',               'Comment')
link('@comment.documentation', 'Comment')
link('@tag',                   'Tag')
link('@tag.attribute',         'Function')
hi('@tag.attribute',           { fg = '{{.Green}}', italic = true })
link('@tag.delimiter',         'Delimiter')
link('@markup.heading',        'Title')
link('@markup.italic',         'Underlined')
hi('@markup.italic',           { italic = true })
link('@markup.strong',         'Underlined')
hi('@markup.strong',           { bold = true })
link('@markup.underline',      'Underlined')
link('@markup.strikethrough',  'Underlined')
hi('@markup.strikethrough',    { strikethrough = true })
link('@markup.link',           'Underlined')
hi('@markup.link.url',         { fg = '{{.Cyan}}', underline = true })
hi('@markup.raw',              { fg = '{{.Green}}' })
hi('@markup.list',             { fg = '{{.Magenta}}' })

-- Treesitter context
hi('TreesitterContext',          { bg = '{{.Surface}}' })
hi('TreesitterContextLineNumber', { fg = '{{.FGDim}}', bg = '{{.Surface}}' })

-- Git signs
hi('GitSignsAdd',          { fg = '{{.Green}}' })
hi('GitSignsChange',       { fg = '{{.Orange}}' })
hi('GitSignsDelete',       { fg = '{{.Red}}' })
hi('GitSignsCurrentLineBlame', { fg = '{{.Overlay}}' })

-- Telescope
hi('TelescopeNormal',        { fg = '{{.FG}}', bg = '{{.Surface}}', blend = 10 })
hi('TelescopeBorder',        { fg = '{{.Overlay}}', bg = '{{.Surface}}', blend = 10 })
hi('TelescopeTitle',         { fg = '{{.FG}}', bold = true })
hi('TelescopePromptNormal',  { fg = '{{.FG}}', bg = '{{.Surface}}', blend = 10 })
hi('TelescopePromptBorder',  { fg = '{{.Overlay}}', bg = '{{.Surface}}', blend = 10 })
hi('TelescopePromptTitle',   { fg = '{{.FG}}', bold = true })
hi('TelescopeResultsNormal', { fg = '{{.FG}}', bg = '{{.Surface}}', blend = 10 })
hi('TelescopeSelection',     { fg = '{{.SelectionFG}}', bg = '{{.SelectionBG}}' })
hi('TelescopeMatching',      { fg = '{{.Cyan}}', bold = true })
hi('TelescopePreviewNormal', { fg = '{{.FG}}', bg = '{{.BG}}' })
hi('TelescopePreviewBorder', { fg = '{{.Overlay}}', bg = '{{.BG}}' })
hi('TelescopePreviewTitle',  { fg = '{{.FG}}', bold = true })

-- nvim-cmp
hi('CmpItemAbbr',              { fg = '{{.FG}}' })
hi('CmpItemAbbrDeprecated',    { fg = '{{.Overlay}}', strikethrough = true })
hi('CmpItemAbbrMatch',         { fg = '{{.Cyan}}', bold = true })
hi('CmpItemAbbrMatchFuzzy',    { fg = '{{.Cyan}}', bold = true })
hi('CmpItemKind',              { fg = '{{.Blue}}' })
hi('CmpItemKindFunction',      { fg = '{{.Green}}' })
hi('CmpItemKindMethod',        { fg = '{{.Green}}' })
hi('CmpItemKindVariable',      { fg = '{{.FG}}' })
hi('CmpItemKindKeyword',       { fg = '{{.Magenta}}' })
hi('CmpItemKindText',          { fg = '{{.FGDim}}' })
hi('CmpItemKindSnippet',       { fg = '{{.Orange}}' })
hi('CmpItemMenu',              { fg = '{{.FGDim}}' })

-- Indent blankline
hi('IblIndent', { fg = '{{.Overlay}}' })
hi('IblScope',  { fg = '{{.Blue}}' })

-- Lazy.nvim
hi('LazyButton',       { fg = '{{.FG}}', bg = '{{.Surface}}' })
hi('LazyButtonActive', { fg = '{{.ButtonFG}}', bg = '{{.ButtonBG}}' })
hi('LazyH1',           { fg = '{{.ButtonFG}}', bg = '{{.ButtonBG}}', bold = true })

-- Mason
hi('MasonHeader',             { fg = '{{.ButtonFG}}', bg = '{{.ButtonBG}}', bold = true })
hi('MasonHighlight',          { fg = '{{.Cyan}}' })
hi('MasonHighlightSecondary', { fg = '{{.Orange}}' })
hi('MasonMutedBlock',         { bg = '{{.Surface}}' })
