@charset "UTF-8";
/* CSS Document */

/** markdown source **/
.cm-s-typora-default .cm-header,
.cm-s-typora-default .cm-property
{
    color: {{.Magenta}};
}

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor{
    border-left: 3px solid {{.FG}};
}

.cm-s-typora-default .cm-comment {
    color: {{.Blue}};
}

.cm-s-typora-default .cm-string {
    color: {{.Cyan}}
}

.cm-s-typora-default .cm-atom, .cm-s-typora-default .cm-number {
    color: {{.FGDim}};
    font-style: italic;
}

.cm-s-typora-default .cm-link {
    color: {{.Green}};
}

.cm-s-typora-default .CodeMirror-activeline-background {
    background: rgba(51, 51, 51, 0.72);
}

.cm-s-typora-default .cm-comment, .cm-s-typora-default .cm-code {
	color: {{.Blue}};
}
